manifest {
    author = 'Bioinformatica IPBLN'
    name = 'nf-differential-abundance-kraken'
    description = 'A nextflow pipeline for performing a relative differential abundance analysis using kraken2, bracken and metagenomeseq'
    nextflowVersion = '>=22.04'
    version = 1.0
}

params {
    reads = null
    krakendb = null
    kraken_mem = "5 GB"
    krona_dir = "/usr/bin/Krona-master/KronaTools/bin/"
    skip_diff = true
    targets = null
    contrast = null
    outdir = "./"
    pairedEnd = true
    skip_krona = true
    skip_bracken_build = true
    kmer_len = 35
    read_len = 75
    b_threshold = 10
    confidence = 0
    taxonomy_filter = "S"
    help = false
}

profiles {
    standard {
        executor {
            name = 'local'
            cpus = 6
            memory = '24 GB'
        }
        process {
            withLabel: 'parallel' { 
                cpus = 2
                memory = params.kraken_mem 
            }
            withLabel: 'building' { cpus = 6 }

        }
        report {
            enabled = true
            file = 'report_low.html'
        }
        timeline {
            enabled = true
            file = 'timeline_low.html'
        }
    }

   
    high {
        executor {
            name = 'local'
            cpus = 36
            memory = '156 GB'
        }
        process {
            withLabel: 'parallel' { 
                cpus = 8
                memory = params.kraken_mem 
            }
            withLabel: 'building' { cpus = 36 }
        }
        report {
            enabled = true
            file = 'report_high.html'
        }
        timeline {
            enabled = true
            file = 'timeline_high.html'
        }
    }

    slurm {
        executor {
            name = 'slurm'
            cpus = 36
            memory = '150 GB'
        }
        process {
            withLabel: 'parallel' { 
                cpus = 8
                memory = params.kraken_mem 
            }
            withLabel: 'building' { cpus = 6 }

        }
    }
}

