manifest {
    author = 'Bioinformatica IPBLN'
    name = 'nf-differential-abundance-qiime'
    description = 'A nextflow pipeline for performing a relative differential abundance analysis using qiime2 and metagenomeseq'
    nextflowVersion = '>=22.04'
    version = 1.0
}

params {
    metadata = null
    data_dir = null
    outdir = "./"
    casava= true
    pairedEnd = true
    demultiplexed = true
    chimera_method = "consensus"
    brcds_col = null
    trunc_len = 0
    trunc_len_r = 0
    trim = 0
    trim_r = 0
    depth = 1
    level = 7
    beta_div = false
    beta_col = null
    classifier = "/mnt/beegfs/fgordillo/scripts/nxt/qimme/ref/classifier.qza"
    skip_build_classifier = true
    taxa = null
    levels = null
    skip_diff = true
    targets = null
    contrast = null
    help = false
}

profiles {
    standard {
        executor {
            name = 'local'
            cpus = 6
            memory = '24 GB'
        }
        process {
            withName: 'dada2' { cpus = 6 }
        }
        report {
            enabled = true
            file = 'report_low.html'
        }
        timeline {
            enabled = true
            file = 'timeline_low.html'
        }
    }

    high {
        executor {
            name = 'local'
            cpus = 36
            memory = '156 GB'
        }
        process {
            withName: 'dada2' { cpus = 36 }
        }
        report {
            enabled = true
            file = 'report_high.html'
        }
        timeline {
            enabled = true
            file = 'timeline_high.html'
        }
    }

    conda {
        process {
            conda = "$baseDir/envs/environment.yml"
        }
    }
    
    slurm {
        executor {
            name = 'slurm'
            cpus = 36
            memory = '150 GB'
        }
        process {
            withLabel: 'parallel' { 
                cpus = 8
                memory = params.kraken_mem 
            }
            withLabel: 'building' { cpus = 6 }
        }
    }
}

